@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

nav {
    display: none;
}

div.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;
    width: 100%;
    background: #304353;
}

div.logo {
    font-size: 1.5rem;
    color: #bcc3c7;
}

ul.nav-links {
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0 2vw;
    list-style: none;
    font-size: 1.1rem;
}

ul li a {
    text-decoration: none;
    color: #88949B;
    padding: 0.5vw;
}

ul li a:hover {
    color: #304353;
    background: #fff;
    padding: 0.5rem;
}

div.hero-section {
    background: #304353;
    padding: 10rem;
}

div.hero-content-heading {
    text-align: center;
}

div.hero-content-heading h3 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    color: #bcc3c7;
}

div.hero-content-heading p {
    text-align: center;
    padding-top: 0.7rem;
    color: #88949B;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 300;
}

div.hero-content-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

div.hero-content-btn a {
    background: #E44C65;
    text-decoration: none;
    color: #bcc3c7;
    font-size: 0.9rem;
    padding: 10px 30px;
    border-radius: 3px;
    letter-spacing: 2px;
}

div.hero-background {
    background: #f0f0f0;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.background {
    background: #fff;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
    padding: 15px 40px;
    width: 550px;
    height: 220px;
    position: relative;
}

div.background h4 {
    padding: 2rem;
    color: #555657;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.background p {
    color: #A6A5AA;
    padding-left: 2rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

div.hero-background-pos {
    position: absolute;
    right: 0px;
    left: 66%;
    background: #fff;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

div.snapshot-team {
    background: #f0f0f0;
    text-align: center;
    padding-top: 2rem;
}

div.snapshot-team h2 {
    color: #555657;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.snapshot-team p {
    color: #A6A5AA;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-top: 0.8rem;
}

div.snapshot-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    padding: 4rem 6rem;
}

div.snapshot-box-content {
    display: flex;
    justify-content: space-between;
}

div.box1 {
    background: #fff;
    padding: 10px 20px;
    width: 220px;
    height: 230px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

div.box3 {
    background: #304353;
    padding: 10px 20px;
    width: 220px;
    height: 230px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

div.box3 h5 {
    text-align: center;
    padding-top: 2rem;
    color: #E44C65;
    font-size: 1rem;
}

div.circle {
    display: flex;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #bcc3c7;
    margin-top: 2rem;
    
}

div.box1 h5 {
    text-align: center;
    padding-top: 2rem;
    color: #E44C65;
    font-size: 1rem;
}

div.gallery-section {
    background: #fff;
    padding: 4rem;
}

div.gallery-content {
    text-align: center;
}

div.gallery-content h4 {
    color: #555657;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.gallery-content p {
    color: #A6A5AA;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-top: 0.8rem;
}

div.gallery-img {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 3rem;
}

div.img {
    margin: 10px;
}

div.img img {
    width: 250px;
    height: 180px;
}

div.footer {
    background: #304353;
    padding: 3rem;
}

div.footer-content {
    text-align: center;
}

div.footer-content h4 {
    color: #bcc3c7;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.footer-content p {
    color: #88949B;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-top: 0.8rem;
}

div.footer-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

input[type="text"] {
    margin-right: 10px;
    padding: 10px 20px;
    width: 25%;
    outline: none;
    border: 1px solid #bcc3c7;
    background: transparent;
    color: #f0f0f0;
    font-size: 1rem;
    border-radius: 2px;
}

input[type="email"] {
    margin-right: 10px;
    padding: 10px 20px;
    width: 25%;
    outline: none;
    border: 1px solid #bcc3c7;
    background: transparent;
    color: #f0f0f0;
    font-size: 1rem;
    border-radius: 2px;
}

::placeholder {
    color: #A6A5AA;
}

div.footer-textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

textarea {
    width: 51%;
    height: 150px;
    padding: 0.5rem;
    outline: none;
    border: 1px solid #bcc3c7;
    background: transparent;
    color: #f0f0f0;
}

div.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

div.footer-btn a {
    background: #E44C65;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 0.9rem;
    padding: 10px 50px;
    border-radius: 3px;
    letter-spacing: 2px;
}

div.footer h6 {
    text-align: center;
    color: #88949B;
    font-size: 1rem;
    padding-top: 6rem;
}

@media (max-width: 1199.98px) {

    div.hero-background-pos {
        position: absolute;
        right: 0px;
        left: 72.5%;
    }

    div.footer-input {
        padding-left: 0.5rem;
    }

}

@media (max-width: 990px) {

    div.nav-bar {
        padding: 1rem 4rem;
    }
    
    div.logo {
        font-size: 1.3rem;
    }
    
    ul li {
        font-size: 1rem;
    }

    div.hero-section {
        padding: 8rem;
    }
    
    div.hero-content-heading h3 {
        font-size: 1.8rem;
    }
    
    div.hero-content-heading p {
        font-size: 1rem;
    }
    
    div.hero-background {
        padding: 8rem;
    }

    div.background {
        padding: 10px 30px;
        width: 550px;
        height: 210px;
        position: relative;
    }

    div.background h4 {
        padding: 1.6rem 1.8rem;
    }

    div.background p {
        padding-left: 1.8rem;
    }
    
    div.hero-background-pos {
        position: absolute;
        right: 0px;
        left: 78%;
    }

}

@media (max-width: 700px) {

    div.snapshot-box-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

@media (max-width: 575.98px) {

    div.nav-bar {
        display: none;
    }

    nav {
        display: block;
        background-color: #304353;
    }
    
    #menuToggle {
        display: block;
        position: relative;
        top: 30px;
        left:85%;  
        z-index: 1;  
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    }
    
    #menuToggle a {
        text-decoration: none;
        color: #232323;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }
    
    #menuToggle a:hover {
        color: #4f7794;
    }
    
    
    /* The hamburger button hidden inside an input element */
    #menuToggle input {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: -7px;
        left: -5px;  
        padding: 0;
        cursor: pointer;  
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */  
        -webkit-touch-callout: none;
    }
    
    #menuToggle label {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
    }
    #menuToggle label span {
        display: none;
    }
    
    /*
    * Hamburger
    */
    #menuToggle label div {
        display: block;
        width: 30px;
        height: 2px;
        margin-bottom: 6px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;  
        z-index: 1;  
        -webkit-transform-origin: 4px 0px;  
            -ms-transform-origin: 4px 0px;  
                transform-origin: 4px 0px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    
    #menuToggle label div:first-child {
        -webkit-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
                transform-origin: 0% 100%;
    }
    
    #menuToggle label div:nth-child(2) {
        -webkit-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    
    /* 
    * Change the color of the hamburger when toggled
    */
    #menuToggle input:checked + label div {
        background: #232323;
    }
    
    /*
    * Use absolute positioning to place the menu off-screen
    */
    #menu {
        position: absolute;
        width: 300px;
        margin: 0;
        padding: 2% 0 0 87%;
        background: none;
        list-style-type: none;
        /* Hide the menu off-screen to the left */
        left: -100%;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        transition: left 0.3s ease; 
    }
    
    #menu li {
        padding: 8px 0;
        font-size: 1.1rem;
        color: #88949B;
    }

    #menu li:hover {
        color: #304353;
        background: #fff;
        padding: 0.5rem;
    }
    
    /*
    * Slide the menu in from left when the input is checked
    */
    #menuToggle input:checked ~ ul {
        left: 0;
    }
    
    div.logo {
        float: left;
        font-size: 1.5rem;
        color: #bcc3c7;
        padding-top: 25px;
        padding-left: 25px;
    }
    
    /* ul.nav-links {
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    ul li {
        margin: 0 2vw;
        list-style: none;
        font-size: 1.1rem;
    }
    
    ul li a {
        text-decoration: none;
        color: #88949B;
        padding: 0.5vw;
    }
    
    ul li a:hover {
        color: #304353;
        background: #fff;
        padding: 0.5rem;
    } */
    
    div.hero-section {
        background: #304353;
        padding: 5rem;
    }
    
    div.hero-content-heading {
        text-align: center;
    }
    
    div.hero-content-heading h3 {
        font-size: 1.7rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 300;
        color: #bcc3c7;
    }
    
    div.hero-background {
        background: #f0f0f0;
        padding: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    div.background {
        background: #fff;
        box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
        padding: 10px 20px;
        width: 300px;
        height: 200px;
        position: relative;
    }
    
    div.background h4 {
        padding: 0.7rem;
        color: #555657;
        font-size: 0.8rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    
    div.background p {
        color: #A6A5AA;
        padding-left: 0.7rem;
        font-size: 0.7rem;
        letter-spacing: 2px;
    }
    
    div.hero-background-pos {
        display: none;
    }
    
    div.snapshot-team {
        background: #f0f0f0;
        text-align: center;
        padding-top: 2rem;
    }
    
    div.snapshot-team h2 {
        color: #555657;
        font-size: 1.5rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    
    div.snapshot-team p {
        color: #A6A5AA;
        font-size: 1rem;
        letter-spacing: 2px;
        padding-top: 0.8rem;
    }
    
    div.snapshot-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f0f0f0;
        padding: 4rem 6rem;
    }
    
    div.snapshot-box-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    div.box1 {
        background: #fff;
        padding: 10px 20px;
        width: 220px;
        height: 230px;
        margin: 10px;
        border-radius: 2px;
        box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
    }
    
    div.box3 {
        background: #304353;
        padding: 10px 20px;
        width: 220px;
        height: 230px;
        margin: 10px;
        border-radius: 2px;
        box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
    }
    
    div.box3 h5 {
        text-align: center;
        padding-top: 2rem;
        color: #E44C65;
        font-size: 1rem;
    }
    
    div.circle {
        display: flex;
        margin: 0 auto;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background: #bcc3c7;
        margin-top: 2rem;
        
    }
    
    div.box1 h5 {
        text-align: center;
        padding-top: 2rem;
        color: #E44C65;
        font-size: 1rem;
    }
    
    div.gallery-section {
        background: #fff;
        padding: 4rem;
    }
    
    div.gallery-content {
        text-align: center;
    }
    
    div.gallery-content h4 {
        color: #555657;
        font-size: 1.5rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    
    div.gallery-content p {
        color: #A6A5AA;
        font-size: 1rem;
        letter-spacing: 2px;
        padding-top: 0.8rem;
    }
    
    div.gallery-img {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       padding-top: 3rem;
    }
    
    div.img {
        margin: 10px;
    }
    
    div.img img {
        width: 250px;
        height: 180px;
    }
    
    div.footer {
        background: #304353;
        padding: 3rem;
    }
    
    div.footer-content {
        text-align: center;
    }
    
    div.footer-content h4 {
        color: #bcc3c7;
        font-size: 1.5rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    
    div.footer-content p {
        color: #88949B;
        font-size: 1rem;
        letter-spacing: 2px;
        padding-top: 0.8rem;
    }
    
    div.footer-input {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
    }
    
    input[type="text"] {
        margin-right: 10px;
        padding: 10px 20px;
        width: 25%;
        outline: none;
        border: 1px solid #bcc3c7;
        background: transparent;
        color: #f0f0f0;
        font-size: 1rem;
        border-radius: 2px;
    }
    
    input[type="email"] {
        margin-right: 10px;
        padding: 10px 20px;
        width: 25%;
        outline: none;
        border: 1px solid #bcc3c7;
        background: transparent;
        color: #f0f0f0;
        font-size: 1rem;
        border-radius: 2px;
    }
    
    ::placeholder {
        color: #A6A5AA;
    }
    
    div.footer-textarea {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }
    
    textarea {
        width: 51%;
        height: 150px;
        padding: 0.5rem;
        outline: none;
        border: 1px solid #bcc3c7;
        background: transparent;
        color: #f0f0f0;
    }
    
    div.footer-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }
    
    div.footer-btn a {
        background: #E44C65;
        text-decoration: none;
        color: #f0f0f0;
        font-size: 0.9rem;
        padding: 10px 50px;
        border-radius: 3px;
        letter-spacing: 2px;
    }
    
    div.footer h6 {
        text-align: center;
        color: #88949B;
        font-size: 1rem;
        padding-top: 6rem;
    }

}